* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-i33p {
    padding: 0000;
    margin: 0auto0auto;
}

#template-ijs7 {
    flex-basis: 50%;
    min-height: 700px;
    background-image: url('https://grapesjs-images.s3.amazonaws.com/grapesjsimages/create_img%20%281%29.png');
    background-repeat: no-repeat;
    background-position: centertop;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#template-ipaxj {
    display: block;
    flex-wrap: nowrap;
    min-height: auto;
    margin: 10px010px0;
}

#template-i25od {
    padding: 0000;
    font-weight: 500;
    font-size: 20px;
    color: #64748b;
    margin: 0010px0;
}

#template-iizpx {
    display: block;
    flex-wrap: nowrap;
    min-height: auto;
    margin: 10px20px10px20px;
}

#template-i9ain {
    padding: 0000;
    font-weight: 500;
    font-size: 20px;
    color: #64748b;
    margin: 0010px0;
}

#template-ivzqb {
    display: block;
    flex-wrap: nowrap;
    min-height: auto;
    margin: 10px20px10px20px;
}

#template-idj23 {
    padding: 0000;
    flex-wrap: wrap;
}

#template-i1xqy {
    flex-basis: 50%;
    padding: 60px40px040px;
}

#template-igw9g {
    padding: 0000;
    font-weight: 700;
    font-size: 35px;
    color: #1e293b;
    margin: 020px020px;
}

#template-i0urs {
    padding: 0000;
    font-weight: 500;
    font-size: 20px;
    color: #64748b;
    margin: 0010px0;
}

#template-izswk {
    display: block;
    flex-wrap: nowrap;
    min-height: auto;
    margin: 10px20px10px20px;
}

#template-ig4ul {
    color: black;
    width: 530px;
    max-width: 530px;
    display: flex;
    align-self: center;
}

#template-io5ao {
    display: block;
    flex-wrap: nowrap;
    min-height: 75px;
    margin: 10px20px10px20px;
    text-align: right;
}

#template-indcg {
    width: 100%;
    border: 1pxsolid#ced4da;
    border-radius: 5px5px5px5px;
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}